{% extends 'layouts/base_dashboard.html' %}
{% load static %}

{% block title %}Update Profile Picture - UNCAVED{% endblock %}

{% block content %}
<div class="container py-4">
  <h2>Update Profile Picture</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
      <label for="profile_image">Profile Image</label>
      <div class="mb-3">
        {% if profile.profile_image %}
          <img src="{{ profile.profile_image.url }}" alt="Profile Image" class="img-fluid rounded-circle mb-3" style="width: 150px; height: 150px;">
        {% else %}
          <img src="{% static 'img/default-profile.jpg' %}" alt="Default Profile Image" class="img-fluid rounded-circle mb-3" style="width: 150px; height: 150px;">
        {% endif %}
        {{ form.profile_image|add_class:"form-control" }}
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Update Picture</button>
  </form>
</div>
{% endblock %}